@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap");
/*@import url("//basehold.it/24");*/


#splash {
  background: url(../../img/2.jpg) fixed no-repeat;
  background-size: cover;
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 350%;

}

html {
  font-family: 'Merriweather', serif, 'Akaya Kanadaka', cursive, 'Raleway', sans-serif;
  font-size: 1.375em; /* 22px */
  line-height: 1.182em; /* 26px / ~ 120% */
  padding: 1.182em; /* 26px / ~ 120% */
  text-rendering: optimizeLegibility;
  background-color: rgb(5, 5, 5);
}

.topnav {
  overflow: hidden;
  background-color: rgb(8, 8, 8);
  text-align: center;
  padding: 2ch;
}

.topnav a {
 float: none;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #aaaaaa;
  color: white;
}


fieldset{
  
  border-color: transparent;
}

#content {
  font-family: 'Raleway', sans-serif;
  /* Center */
  margin: 10 auto;
  text-align: center;
  padding: 2em;
  background-color: #080808;
  border-radius: 20px;
  background-image: url(../../img/1.jpg);
  background-size:100% 120%;
}
h1 {
  font-family: 'Merriweather', serif;
  padding: 1em;
  background: linear-gradient(135deg, #857f7f 0%,#353535 50%,#404142 51%,#d4d4d4 100%);
  color: #fcfcfc;
  border-radius: 20%;
}

h2 {
  padding-top: 0.5em;
}


h3 {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  line-height: 2.6;
  padding: 1em;
  background: linear-gradient(135deg, #202020 0%,#353535 50%,#0a0a0a 51%,#070707 100%);
  color: #fcfcfc;

}

p {
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 0.825em; /* 0.9625em + 0.6875em/ 2 */
  margin-bottom: 1.5em;
  margin-top: 1em;
  background: linear-gradient(135deg, #fdfdfd 0%,#0a0a0a 50%,#030303 51%,#ffffff 100%);
  color: #fcfcfc;
  border-radius: 30%;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding-bottom: 1em;
  margin: 1em;; /* Remove margins */
}

ul ol {
  border: .5px solid rgb(189, 187, 187); /* Add a thin border to each list item */
  margin-top: -1px; /* Prevent double borders */
  background-color: linear-gradient(135deg, #fdfdfd 0%,#0a0a0a 50%,#030303 51%,#ffffff 100%);
  padding-bottom: .3em;
  font-size: 13px;
}

div {
  list-style-type: none; /* Remove bullets */
  padding-bottom: 1em;
  margin: 1em;; /* Remove margins */
}

div ol {
  border: .5px solid rgb(189, 187, 187); /* Add a thin border to each list item */
  margin-top: -1px; /* Prevent double borders */
  background-color: linear-gradient(135deg, #fdfdfd 0%,#0a0a0a 50%,#030303 51%,#ffffff 100%);
  padding-bottom: .3em;
  font-size: 13px;
}


li {
  padding-bottom: 1em; /*18/18=1em */
}

[type="date"] {
  padding-bottom: 0.5em; /*9/18=0.5em */
}

label{
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 0.825em; /* 0.9625em + 0.6875em/ 2 */
  color: #0a0a0a;
  border-radius: 30%;
  
}

#verification{
  margin-top: 0.581em; /* 1.182em / 2 */
  padding: 0.2em;
}
#verification > label{
  border-radius: 0.825em;
  border-color: #080808;
  background: linear-gradient(135deg, #fdfdfd 0%,#0a0a0a 50%,#030303 51%,#ffffff 100%);
  color: #fcfcfc;
  border-radius: 20%;
  font-size: 13px;
}

input {
  font-family: Merriweather, "Hoefler Text", Georgia, "Times New Roman", Times, Roman, serif;
  border-color: black;
  background-color: #FFFFE0;
  overflow: visible;
  font-size: 14px;
  border-radius: 1.5em;
  width: 50%;
  height: 2ch;
  
}


#submit{
  margin-top: 0.581em; /* 1.182em / 2 */
  padding: 0.2em;
}
#submit > button{
  border-radius: 0.825em;
  border-color: #d3d3d3;
  background: linear-gradient(135deg, #5c5c5c 0%,#000000 50%,#000000 51%,#8f8f8f 100%);
  color: #fcfcfc;
  border-radius: 20%;
  font-size: 20px;
}

#footer{
  margin-top: 0.581em; /* 1.182em / 2 */
  padding-bottom: 0.2em;
}
#footer label{
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 0.825em; /* 0.9625em + 0.6875em/ 2 */
  color: #0a0a0a;
  border-radius: 20%;
  text-align: center;
  padding-bottom: 4.2em;
}




a {
  color: rgb(231, 68, 68);
  font-size: 20px;
}
.alert {
  font-size: 20px;
  padding: 20px;
  background: linear-gradient(135deg, #616060 0%,#000000 50%,#000000 51%,#8f8f8f 100%);
  color: white;
  border-radius: 5%;
 margin-bottom: 10px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}



#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #77b2da;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}




@media screen and (min-width: 220px) {
  h1 {
    font-size: 100%
  }
}

@media screen and (min-width: 270px) {
  h1 {
    font-size: 80%
  }
}

@media screen and (min-width: 355px) {
  label {
    display: block;
    justify-content: center;
  }
}

@media screen and (min-width: 580px) {
  h1 {
    font-size: 100%
  }
  html {
    display: inline-block;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 120%
  }
  html {
    font-size: 110%
  }
}
